<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Page.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
<header>
 <h1>{{ .Page.Title }}</h1>
 <p>{{ .Page.Params.Description }}</p>
</header>

{{ partial "navigation.html" . }}


   <footer>
&copy; Yunhao Zhong
   </footer>

    </body>
</html>