<nav>
    <ul>
        <li>
            <a href="{{ .Site.BaseURL }}">Home</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}about">About</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}final-project">Final Project</a>
        </li>
        <li><b>Assignments</b></li>
         <ul>
    <li>Week 01: Project Management</li>
    <li>Week 02: Principles and Practices</li>
    <li>Week 03: Computer-Aided Design</li>
        </ul>
    </ul>
       </nav>